<a href="https://colab.research.google.com/github/Sumya601/Python/blob/master/new_a2_ct3_18101029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student = {
    
    1 : {
        "ID" : 1,
        "First Name" : "Peter",
        "Last Name" : "Lee",
        "Email" : "plee@university.edu",
        "Year of Birth" : 1992
    },

    2 : {
        "ID" : 2,
        "First Name" : "Jonathan",
        "Last Name" : "Edwards",
        "Email" : "jedwards@university.edu",
        "Year of Birth" : 1994
    },

    3: {
        "ID" : 3,
        "First Name" : "Marilyn",
        "Last Name" : "Johnson",
        "Email" : "mjohnson@university.edu",
        "Year of Birth" : 1993
    },

    6: {
        "ID" : 6,
        "First Name" : "Joe",
        "Last Name" : "Kim",
        "Email" : "jkim@university.edu",
        "Year of Birth" : 1992
    }
}

id = int(input())

if id in student:
    print(student[id])
else:
    print("Not found")

In [ ]:
l = ["A", "B", "C"]

for i in range(2, len(l)):
  print(l[i])

B
C

In [ ]:
l = ["A", "B", "C"]

for st in l:
  print(st)

A
B
C



```
for(s : List) {
  print(s)
}
```

In [ ]:
id = int(input())

for s in student:
  if s == id:
    print(student[s])

6
{'ID': 6, 'First Name': 'Joe', 'Last Name': 'Kim', 'Email': 'jkim@university.edu', 'Year of Birth': 1992}